<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Service </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Edit Service</h1>

        <!-- Form to Edit Service -->
        <form method="POST">
            <label for="name">Service Name</label>
            <input type="text" id="name" name="name" value="{{ service.name }}" required>

            <label for="price">Price</label>
            <input type="text" id="price" name="price" value="{{ service.price }}" required>

            <label for="description">Description</label>
            <textarea id="description" name="description" required>{{ service.description }}</textarea>

            <button type="submit">Update Service</button>
        </form>

        <!-- Back to Dashboard Link -->
        <a href="{{ url_for('admin_dashboard', curr_login_id=curr_login_id) }}" class="btn">Back to Dashboard</a>
    </div>
</body>
</html>